**/*.o
**/*.a
**/*.swp
**/*.d
**/*.gcno
**/*.so
**/*.dtb
**/*.bin
!uarch/uarch-ram.bin
**/*.md
**/*.deb

build
tests/build
tests/fuzz/corpus
tests/fuzz/corpus-config
tests/fuzz/seed-corpus
third-party/downloads
third-party/riscv-arch-test/riscv-test-stats
src/cartesi-jsonrpc-machine
src/cartesi-hash-tree-hash
doc/

.git
.github
.venv
.vscode
